body {
    text-align: center;
    font-family: 'roboto';
}

.full_container {
    /*margin-left: 30%;
    margin-right: 30%;*/
}

.logo {
    width: 90%;
    height: 30%;
    margin-top: 2%;
    margin-bottom: -7%;
}

hr {
    margin: auto;
    width: 80%;
}


img {
    margin: auto;
    width: 40%;
    height: 40%;
}

.static-character {
    width: 50%;
    height: 40%;
    margin-bottom: 2%;
    margin-top: 10%;
}

input {
    margin-bottom: 2%;
    padding: 2%;
    font-size: 3em;
    text-align: center;
    border: 1px solid black;
}

.pokeball {
    width: 50%;
    padding-top: 20%;

}

.published {
    font-size: .75em;
    padding-bottom: 2%;
}
