body {
    text-align: center;
    font-family: Serif;
    margin: 0px;
    padding: 0px;
}

.logo {
    width: 90%;
    margin-top: 10px;
}

#title_text {
    text-align: center;
    font-size: 26px;
}

#input {
    margin: auto;
    border: 1px solid;
    text-align: center;
}

.static-character {
    width: 175px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#pokemon_name {
    text-align: center;
    font-size: 24px;
}

.stats {
    text-align: justify;
    font-size: 15px;
    margin-left: 4vw;
    margin-right: 4vw;
}

.pokemon_image {
    width: 49vw;
}

.published {
    text-align: center;
    font-size: 12px;
    border-top: 1px solid;
    width: 80%;
    margin: auto;
}

/*Media Queries===============================================================*/
@media (min-width: 414px) {
    .static-character {
        width: 200px;
    }
    .stats {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .logo {
        width: 50%;
    }
    .published {
        width: 40%;
    }
    .pokemon_image {
        width: 30vw;
    }
    .published {
        width: 300px;
    }
}

@media (min-width: 900px) {
    .logo {
        width: 300px;
    }
    .pokemon_image {
        width: 215px;
    }
}
